extends layout

block content
    div.albumInstance-delete-container
        strong are you sure you want to delete this copy?

        form(method="post")
            input(type="hidden" name="albumInstanceID" value=albumInstance._id)
            div.albumInstance-delete-buttons
                button(class="red-btn" type="submit") Yes
                a(class="blue-btn" href=albumInstance.url) No