extends layout

block content 

    h1 #{title}
    if !genres.length
        strong No Genres currently stored
        a(class="blue-btn" href="/genre/create") Add Genre
    else
        ul.genre-list
            li
                a(class="genreLI" class="add-genre-btn" href="/genre/create") +
            each genre in genres
                li
                    a(class= "genreLI" href=genre.url) #{genre.title}