extends layout

block content
    h1 #{title}
    form(method="post")
        label(for="title") Title
        input(type="text" name="title" value=(genre === undefined ? "" : genre.title))
        button(type="submit") Add
    if errors 
        ul 
            for error in errors 
                li!= error.msg