doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet")
    link(
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    )

    script(defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js")
    script(defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js")
    script(defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js")
    script(defer src="https://unpkg.com/filepond@^4/dist/filepond.js")
    script(defer src="/javascripts/fileUpload.js")
  body
    div(class='sidebar')
      ul
        a(href="/") Home
        a(href="/albums") Albums
        a(href="/albumInstances") Instances
        a(href="/artists") Artists
        a(href="/genres") Genres
    div(class='main')
      block content
