doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='sidebar')
      ul
        a(href="/") Home
        a(href="/albums") Albums
        a(href="/albumInstances") Instances
        a(href="/artists") Artists
        a(href="genres") Genres
    block content
